body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center Header */
.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.center-header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Form Styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-form {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.search-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #4a5568;
  text-align: left;
}

.search-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.search-form button {
  background-color: #1a73e8;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #0c54b2;
}


/* Layout Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  color: #333;
}

.header input[type="text"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.header button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.header button:hover {
  background-color: #21a1f1;
}

/* Card Component */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  color: #333;
}

.card-body {
  font-size: 1rem;
  color: #666;
}

/* Typography */
.text-gray-700 {
  color: #4a5568;
}

.text-sm {
  font-size: 0.875rem;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #110f86;
  text-decoration: underline;
}


.lg\\:flex {
  display: flex;
}

.lg\\:flex-row {
  flex-direction: row;
}

.lg\\:space-x-4 > * + * {
  margin-left: 1rem;
}

.w-full {
  width: 100%;
}

.lg\\:w-1\\/2 {
  width: 50%;
}

.bg-white {
  background-color: white;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 0.25rem;
}

.p-8 {
  padding: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Table Styles */
.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
}

table th {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
}

table td {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.right-align {
  text-align: right;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.center-header h1 {
  margin: 0;
  font-size: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

